In [5]:
 a = ["banana", "apple", "microsoft"]

In [12]:
for element in a:
    print (element)
    print (element)

banana
banana
apple
apple
microsoft
microsoft

In [13]:
b = [20, 10, 5]
total = 0
for  e in b:
    total = total + e
    print(total)

20
30
35

In [18]:
b = [55, 45, 7]
total = 0
for e in b:
    total = total + e
print(total)

107

In [3]:
# 1, 2, 3, 4
c = list (range (1, 5))
print (c)

[1, 2, 3, 4]

In [4]:
for e in c:
    print (e)

1
2
3
4

In [18]:
total2 = 0
for e in range (1, 5):
    total2 += e
print (total2)

10

In [4]:
total3 = 0
for e in range (1, 8):
    if e % 3 == 0:
            total3 += e
print (total3)

9

In [6]:
# Can you compute all the multiples of 3, 5
#that are less than 100
total4 = 0
for e in range (1, 100):
    if e % 3 == 0 or e % 5 ==0:
        total4 += e
print (total4)

2318